{% extends "check/base.html" %}
{% block title %}<h1>Registeration</h1>{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<!-- <form method="post" action=".">
  {% csrf_token %}
{{ form.as_p }}
<input type="submit"  /> -->



<div class="form">
  <div>


<h1><u>Sign Up!</u></h1>

    <form action="." method="post">

    <div >
        <div >
      {% csrf_token %}
    {{ form.as_p }}
</div>
</div>
    </div>

    <button type="submit" class="button button-block" value="register"/>register</button>

    </form>

  </div>
{% endblock %}
